 body, html {
	 margin: 0;
	 padding: 0;
 }

 p {
         font-family: Arial;
         color: white;
         font-size: 100%;
 }

 h1 {
         font-family: Arial;
         color: white;
         font-size: 150%;
         font-weight: bold;
 }

 .wrapper {
         margin: 0 auto;
         width: 1000px;
 }

 .menucontainer {
         width: 1000px;
         height: 140px;
         margin-right: auto;
         margin-left: auto;
         outline: solid black 1px;
         background-image: url("images/backgrounds/mainheaderbanner.png");
         background-position: -75% 40%;
 }

 .logocontainer {
         position: relative;
         left: 230px;
 }

 .logo {
         height: 140px;
 }

  .buttoncontainer {
    text-align: center;
    position: relative;
    bottom: 141px;
    left: 20px;
    width: 150px;
 }

 .button {
    display: block;
    margin: 1px;
 }

 .button:hover {
    box-shadow: 0 0 5px orange;
    filter: brightness(125%);
    width: 200px;
 }
    
 .button:active {
    box-shadow: 0 0 10px orange;
    filter: brightness(155%);
 }

 .dropmenu1 {
	 position: relative;
 }

 .dropmenu1-content {
	 display: none;
	 position: relative;
	 z-index: 1;
	 bottom: 35px;
	 left: 201px;
 }

 .dropmenu1:hover .dropmenu1-content {
	 display: flex;
 }

 .dropbutton:hover {
	 position: relative;
	 right: 50px;
	 top: 8px;
 }